{%load static%}
<forms method="post">
    {% csrf_token %}
    {{ forms.as_p }}
    <button type="submit">Submit</button>
</forms>

<!DOCTYPE html>
<html>
<head>

    <link rel="shortcut icon" href="{%  static  'favicon.png' %}">

    <title>Create User Profile</title>
</head>
<body>
    <h1>Create User Profile</h1>
    <form method="post">
        {% csrf_token %}
        
        <!-- Render first_name field -->
        <div>
            {{ forms.first_name.label_tag }}
            {{ forms.first_name }}
            {{ forms.first_name.errors }}
        </div>

        <!-- Render last_name field -->
        <div>
            {{ forms.last_name.label_tag }}
            {{ forms.last_name }}
            {{ forms.last_name.errors }}
        </div>

        <!-- Render phone_number field -->
        <div>
            {{ forms.phonenumber.label_tag }}
            {{ forms.phonenumber }}
            {{ forms.phonenumber.errors }}
        </div>

        <!-- Render email field -->
        <div>
            {{ forms.email.label_tag }}
            {{ forms.email }}
            {{ forms.email.errors }}
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
